language: python
python:
- '3.6'
sudo: false
env:
  global:
  - secure: rbPN8h8AT3yzTHWfTRY7UBgJ2Bktip+FU5ZCnGyigVPo2o0Ohfh8oE3ySJ4oCC7rbHWCUVMfxaClkg3SRVlkRUftlNK5o5kCGYm1OJjkoc2ALlSjn6H7+CQWZM6cJLHDiGNdohD/BEh/Bl6IFCtB1ao4PJIFAyjJfYVOTjJgHXjgJ0y3WQdLc7QPBd4jhbabCYjhlCbUIZGRtAWQvSXK70OIDSxTqRzaowA5cK0TAXCYnhKrirsrXHhB0XVkJn2/EKvvGHUuIejnKxBW9h8K5iiU71THTE8wa/+HSNUWQ9NxeTUJU6rTLruEJOWGQ5y7EOocag00WBXBFM0CUe+jd+ghue2WcLkqsnIUY1p3Ja2nzj7ckErs405Dd9di51d/g9scUSRJNmDEjYLLgywH4jDKhGCTPTeXGqh1wqaCHAv3ZQ90BcNE1rsMNivhQZLdVLHtUTko6aAl4bWnXjE+hjEbFiW0c/R9OvL7miM2OCMkNH2rR3a/0sMrEqTG30tF/4sIly3SQ5vLvUirFUR7X8BC3xXa0uUn7+nhbsZLIXLlPr/D8rFjGbxNnqyJCL4paPCyzIIimsG/6e8CT6V7Bu9PkA4XjMs0811ZIwDns8ayQBhj5AMuqQH13/CFrPxo9lT1Z0iXm74T9U3rENjlhaSOOeeS+H0REQgHm6oUnR0=
  - secure: U3qPuWshldvMUDhvrdhsZvdahMR6do0qTMxLE6vzl8UEjmrwZjje3k7Ca2FLevzVNUEcGwdpQH0JLhM59ahmHDRLWwcJIWqFWxpWdDvlSZdOgcCKgNP6Omd7Dz34Yx6ncc6lDKQ7spu4hMnZtsIdv61m5jzKjQraamfSftP4Qvwn8BGbjryB4Xjz4bJEAMXXbK8iasFd6QIQ18Qd/PY847YfcwxePG8L7j1e4iXmkb1Y2/AmKMjsRFopq/2+9XFpERhRjMS8SqUcQoi19BQbwqV7UHTiXL+NdbqQHRlU0vW+CqBP2cFV+1izqKJ6/j9wdsSSho6uIaqeP4Y0XqgHS13YK0cFe+op34JdyYx1tzHzXfRmW2jjQ0FZAaSttwmTs9shF6pAaQCACEUxTCFh6xe20F9HA/uO5FabDSdiNLIoFjyVYRCMU3rAj3JOt+W/KmeuQovSLzlgaiHMy+c94LfjOI2wosz8QBb0Vhfi25MZUf+1qeWyKpefyzGIH2I4e1/hYqC7pQMWclRJa3NPB32KVpEkQ/+AccNiZ2Uh930D9OiFwQhCsdgrOrbCbXWL5BhhDUXkhg/jtvAl036Mr08CrT5UaR8Yvq/pD/t6MCW3q2dhN2up01t6rWtKPu200Y79FQNPbp/IrzSZgnmnYcK65sG/wo3lcPM559CgcVs=
  - secure: WUBY5N9MuXnF0sRu+p265/iau/8Yct4CjplDnGxfuxVXunLbFLRoM82dwGwmaOW5H9E6QAJJFG9s75YoWaEoqwgYkRzIS/zTOBSfCU4aOs38+xTsnqZVnzwzB4hhkM+p/24DRHiCREAQ0YccL8ORwK7EFpZcN/zrjZJczMp6imfwm/OJdlG9sDlLea5gIBeE9btTHISzZDKT6QPnSOZJ2j4FRg+ap5UpZmtQTYiBDDsx7KGs/AUxUJtCPNhKzJ0KUquL1aDej5ZWtlRzC98O1jX+Ebe4TZDQ4V+v3f+4l/srFRs1yPTcnSiiKjEB1/+fO4sQS1i0lQ2YfNeTkUuU7AN3ISHKLiqD9yxHZPhdYLzKwjqP5s9hDP9iaQ+gYKS9TJRL0JYP7iWQIk+KO6KMRF0QflH5zxpmeMsyHI4GXBudxat4vc3m0ivHNq6QOXaxe2skTV3UIUPY7sosZCvQVGhSws1St1/dOntQz14BHctfdzBMK01b5RIaJx5hJSbjFqpCUZhcIuO/YfzdSc1/m8OYCQd/SvxgxwE0YtGUU2N1HePeNaCuai3brZ7qN3JhimiW9/iu9dHMnlb/g0r4flsL5yFtaaf/WFrk91/jxvy+VzDlYgHzZ+iPSh8TksjZDtuaVqeFqPV5uhYNPT9PUO7ix7P26C4GR4T13x1bbWY=
before_install:
- export TZ=America/Toronto
cache:
  directories:
  - data/
  - build/
  - $HOME/.cache/pip
script:
- coverage run -m unittest discover
- python3 celly.py
- TODAY_PAGE="`date +%Y-%m-%d`-matches.html"
- cp build/$TODAY_PAGE build/index.html
after_success:
  - codecov
deploy:
  edge:
    branch: v1.8.47
  provider: pages
  target-branch: gh-pages
  skip-cleanup: true
  github-token: "$GH_TOKEN"
  keep-history: true
  fqdn: celly.fun
  local-dir: build
  on:
    branch: master
