{% extends "template.jinja2" %}
{% block title %}{{ date }}{% endblock %}
{% block head %}
<style>
  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .matchup-logo {
    width: 2.5em;
    margin-right: 0.2em;
    vertical-align: middle;
  }
  .teamabbr {
    margin: 0;
  }
  .score {
    font-weight: bold;
  }
  .fin-team-container {
    margin-top: 0.5em;
  }
  .prev-team-container {
    margin-top: 0.5em;
  }
  .trend {
    width: 60px;
  }
</style>
{% endblock %}
{% block content %}
<h1>
  {% if prev_page %}
  <a href="{{ prev_page }}">←</a>
  {% else %}
  ←
  {% endif %}
  {{ date }}
  {% if next_page %}
  <a href="{{ next_page }}">→</a>
  {% else %}
  →
  {% endif %}
</h1>
<h2>
  <a href="{{ digest_page(date) }}">digest</a>
  <b>games</b>
  <a href="{{ ratings_page(date) }}">ratings</a>
</h2>
<table style='font-size: 1.0em; font-family: "Lucida Console", Monaco, monospace; line-height: 1.5; margin-left:auto; margin-right:auto;'>
  <tbody>
    {% for match in matches %}
    <tr style="outline: thin solid;">
      {% if match.done %}
        <td class="col" style="overflow:hidden;">
          <div class="fin-team-container" style="float:left;">
            <a href="{{ team_page(match.away.abbr) }}">
              <img class="matchup-logo" src="{{ match.away.svg }}"/>
              <p class="teamabbr">
                {{ match.away.abbr }}
              </p>
            </a>
          </div>
          <div style="float: left;">
            <span class="score">{{ match.away.score }}</span><br>
            {{ match.away.shots }}<br>
            {{ match.away.w }}-{{ match.away.l }}-{{ match.away.otl }}<br>
            <span style="{{ diff_rgb(match.away.diff) }}">
              {{ format_diff(match.away.diff) }}
            </span><br>
          </div>
          <div style="float: left; margin-left: 1em; margin-right: 1em;">
            score<br>
            shots<br>
            rec.<br>
            rΔ<br>
          </div>
          <div style="float: left;">
            <span class="score">{{ match.home.score }}</span><br>
            {{ match.home.shots }}<br>
            {{ match.home.w }}-{{ match.home.l }}-{{ match.home.otl }}<br>
            <span style="{{ diff_rgb(match.home.diff) }}">
              {{ format_diff(match.home.diff) }}
            </span><br>
          </div>
          <div class="fin-team-container"  style="float: left;">
            <a href="{{ team_page(match.home.abbr) }}">
              <img class="matchup-logo" src="{{ match.home.svg }}"/>
              <p class="teamabbr">
                {{ match.home.abbr }}
              </p>
            </a>
          </div>
        </td>

      {% else %}
        <td class="col" style="overflow:hidden;">
          <div class="prev-team-container" style="float:left;">
            <a href="{{ team_page(match.away.abbr) }}">
              <img class="matchup-logo" src="{{ match.away.svg }}"/>
              <p class="teamabbr">
                {{ match.away.abbr }}
              </p>
            </a>
          </div>
          <div style="float: left;">
            {{ match.away.w }}-{{ match.away.l }}-{{ match.away.otl }}<br>
            <span style="{{ rating_rgb(match.away.rating) }}">
              {{ format_rating(match.away.rating) }}
            </span><br>
            <a href="{{ team_page(match.away.abbr) }}">
              <img class="trend" src="{{ team_rating_graph_icon(match.away.id) }}"></img><br>
            </a>
          </div>
          <div style="float: left; margin-left: 1em; margin-right: 1em;">
            record<br>
            rating<br>
            trend<br>
          </div>
          <div style="float: left;">
            {{ match.home.w }}-{{ match.home.l }}-{{ match.home.otl }}<br>
            <span style="{{ rating_rgb(match.home.rating) }}">
              {{ format_rating(match.home.rating) }}
            </span><br>
            <a href="{{ team_page(match.home.abbr) }}">
              <img class="trend" src="{{ team_rating_graph_icon(match.home.id) }}"></img><br>
            </a>
          </div>
          <div class="prev-team-container" style="float: left;">
            <a href="{{ team_page(match.home.abbr) }}">
              <img class="matchup-logo" src="{{ match.home.svg }}"/>
              <p class="teamabbr">
                {{ match.home.abbr }}
              </p>
            </a>
          </div>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if not matches %}
HOW CAN THERE BE A DAY WITHOUT HOCKEY
{% endif %}
{% endblock %}
