{% extends "template.jinja2" %}
{% block title %}{{ date }}{% endblock %}
{% block head %}
<style>
  .logo {
    width: 1.1em;
    margin-right: 0.2em;
    vertical-align: middle;
  }
</style>
{% endblock %}
{% block content %}
<h1>
  {% if prev_page %}
  <a href="{{ prev_page }}">←</a>
  {% else %}
  ←
  {% endif %}
  {{ date }}
  {% if next_page %}
  <a href="{{ next_page }}">→</a>
  {% else %}
  →
  {% endif %}
</h1>
<h2>
  <a href="{{ ratings_page(date) }}">
    ratings
  </a>
</h2>
<table style='font-size: 1.1em; font-family: "Lucida Console", Monaco, monospace; line-height: 1.5; margin-left:auto; margin-right:auto;'>
  <tbody>
    {% for match in matches %}
    <tr>
      <td class="col">
        {% if match.done %}
          <img class="logo" src="{{ match.away.svg }}"/>
          <a href="{{ team_page(match.away.abbr) }}">{{ match.away.abbr }}</a>
          {{ match.away.score }}
          -
          {{ match.home.score }}
          <a href="{{ team_page(match.home.abbr) }}">{{ match.home.abbr }}</a>
          <img class="logo" src="{{ match.home.svg }}"/>
        {% else %}
          <img class="logo" src="{{ match.away.svg }}"/>{{ match.away.abbr }}
          <span>
            at
          </span>
          {{ match.home.abbr }}<img class="logo" src="{{ match.home.svg }}"/>
          {{ match.date }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
