{% extends "template.jinja2" %}
{% block title %}{{ date }}{% endblock %}
{% block head %}
<style>
  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
</style>
{% endblock %}
{% block content %}
<h1>
  {% if prev_page %}
  <a href="{{ prev_page }}">←</a>
  {% else %}
  ←
  {% endif %}
  {{ date }}
  {% if next_page %}
  <a href="{{ next_page }}">→</a>
  {% else %}
  →
  {% endif %}
</h1>
<h2>
  <a href="{{ match_page(date) }}">
    games
  </a>
</h2>
<table style='font-size: 1.1em; font-family: "Lucida Console", Monaco, monospace; line-height: 1.5; margin-left:auto; margin-right:auto;'>
  <tbody>
    {% for update in day_ratings %}
    <tr>
      <td class="col">
        <span>
          <img class="logo" src="{{ update.svg }}"/><b>{{ update.abbr }}</b>
        </span>
      </td>
      <td class="col">
        {{ format_rating(update.rating) }}
      </td>
      <td class="col">
        <span class="{{ 'green' if update.diff > 0 else 'red' }}">
        {{ format_diff(update.diff) }}
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
