<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
  <style>
    body {
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
      font-size:18px;
      color:#444;
      padding: 0 10px;
    }
    h1,h2,h3 {
      line-height:1.2;
    }
    #footer {
      /*position: fixed;*/
      bottom: 0;
      font-size: 11px;
      text-align: center;
    }
    #content{
      text-align: center;
    }
    #header{
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="header">
    <span>
      <a href="today.html">today</a>
    </span>
    <span>
      <a href="ratings.html">ratings</a>
    </span>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    generated at {{ now }}
    {% endblock %}
  </div>
</body>
</html>
